.store {
  display: flex;
  width: 100%;
  justify-content: space-between;
  background-color: white;
  height: auto;
  overflow-y: hidden;
  /* Track */
  /* Handle */
  /* Handle on hover */
}

.store ::-webkit-scrollbar {
  width: 12px;
}

.store ::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

.store ::-webkit-scrollbar-thumb {
  background: blueviolet;
  border-radius: 10px;
}

.store ::-webkit-scrollbar-thumb:hover {
  background: blueviolet;
}

.store .prodGalary {
  margin-top: 100px;
  width: 89%;
  position: relative;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  height: 95vh;
  overflow-y: auto;
}

.store .prodGalary .cart {
  margin-top: 10px;
  height: 60vh;
  position: relative;
  width: 23%;
  background-color: #f7f7f7;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 6px 0px;
  display: flex;
  color: white;
  border-radius: 5px;
}

.store .prodGalary .cart h3 {
  text-transform: uppercase;
  text-align: center;
  color: black;
  position: absolute;
  top: 330px;
  left: 25%;
}

.store .prodGalary .cart h3:hover {
  border-bottom: 2px solid blueviolet;
}

.store .prodGalary .cart h4 {
  text-align: center;
}

.store .prodGalary .cart img {
  height: 300px;
  object-fit: cover;
  width: 100%;
  align-items: center;
}

.store .prodGalary .cart .buttons {
  position: absolute;
  width: 100%;
  height: 41vh;
  margin-top: 200px;
  display: none;
  z-index: 10;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.253);
}

.store .prodGalary .cart .buttons .add {
  border-radius: 3px;
  color: #470d75;
  font-size: 40px;
  padding: 10px;
}

.store .prodGalary .cart .buttons .icons {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 180px;
}

.store .prodGalary .cart .buttons .view {
  color: white;
}

.store .prodGalary .cart .buttons .added:hover {
  background-color: #f8dada;
}

.store .prodGalary .cart .buttons button:disabled,
.store .prodGalary .cart .buttons .added[disabled] {
  background-color: #f39494;
  color: #ffffff;
  cursor: not-allowed;
}

.store .prodGalary .cart:hover .buttons {
  display: block;
  margin-top: 0px;
  animation-duration: 2s;
}

.store .sidebar {
  width: 20%;
  height: 45vh;
  background-color: white;
  overflow-y: auto;
  margin-top: 70px;
}

.store .sidebar h5 {
  color: gray;
}

.store .sidebar .cart {
  display: flex;
  margin-top: 10px;
  border: 3px solid #ececec;
  border-radius: 5px;
}

.store .sidebar .cart img {
  width: 100px;
  height: 90px;
}

.store .sidebar .cart .ditail {
  text-align: left;
  margin-left: 50px;
}

.cart-all {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.cart-items {
  display: flex;
  height: 100vh;
  width: 100%;
  background-color: #FFF;
  margin-top: 100px;
}

.cart-items table {
  width: 80%;
  background-color: #ebe4f1;
  height: 100vh;
  overflow-y: hidden;
}

.cart-items table thead {
  border-bottom: 2px solid grey;
}

.cart-items table thead tr {
  border-bottom: 2px solid #dfdfdf;
}

.cart-items table thead tr th {
  color: #979797;
  font-size: 18px;
  text-transform: capitalize;
}

.cart-items table tbody {
  overflow-x: hidden;
  height: 80vh;
  overflow-y: auto;
  border-collapse: collapse;
  border: none;
}

.cart-items table tr {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  background-color: #ebe4f1;
  align-items: center;
  border-bottom: 2px solid #ebe4f1;
}

.cart-items table tr img {
  height: 80px;
  width: 80px;
}

.cart-items table tr td {
  margin-top: 10px;
  color: #2c2c2c;
}

.cart-items table tr td .trash {
  color: #ff0055;
  font-size: 25px;
}

.cart-items table tr td .view-eye {
  color: blueviolet;
  font-size: 25px;
}

.cart-items table tr .descImg {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-items table tr .price {
  display: flex;
  justify-content: space-evenly;
  width: 8%;
}

.cart-items table tr .price div {
  border: 1px solid #cecece;
  height: 20px;
  text-align: center;
  width: 25px;
  border-radius: 3px;
  color: #7439a7;
}

.cart-items table tr:nth-child(even) {
  background: white;
}

.cart-items table tr:nth-child(odd) {
  background: #FFF;
}

.cart-items table th {
  height: 53px;
  line-height: 2;
  font-size: 25px;
}

.cart-items .leftSide {
  width: 20%;
  height: 100vh;
  background-color: #faf7fd;
}

.cart-items .leftSide .summary {
  margin-top: 25px;
  margin-left: 20px;
  color: #b8b8b8;
}

.cart-items .leftSide hr {
  color: gray;
  width: 90%;
  margin-left: 20px;
}

.cart-items .leftSide .flex-items {
  display: flex;
  justify-content: space-between;
}

.cart-items .leftSide .right {
  margin-right: 20px;
}

.cart-items .leftSide h4 {
  margin-left: 20px;
  margin-top: 30px;
  color: #b8b8b8;
}

.cart-items .leftSide input {
  width: 90%;
  margin: 35px 20px;
  border: none;
  border-radius: 5px;
}

.cart-items .leftSide .apply {
  margin-bottom: 30px;
  height: 50px;
  width: 100px;
  background-color: #f84a4a;
  border: none;
  color: white;
  margin-left: 20px;
  cursor: pointer;
}

.cart-items .leftSide .total-flex {
  display: flex;
  justify-content: space-between;
}

.cart-items .leftSide .check-out {
  margin-top: 30px;
  margin-left: 20px;
  width: 245px;
  height: 37px;
  color: white;
  background-color: blueviolet;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}
