.absolute{
				height: 700px;
				width: 700px;
				border-radius: 50%;
				z-index: -1;
				left: 60%;
				top: 5%;
				background-color: #5476e50e;
				position: absolute;
			}

.home {
	
	.top {
		height     : 100vh;
		width      : 95%;
		margin     : 0 auto;
		padding-top: 90px;
		display    : flex;
		justify-content: space-around;

		.left-side {
			width           : 60%;
			background-color: rgb(247, 243, 250);
			display         : flex;
			height          : 100%;
			justify-content : space-between;
			// border-radius   : 10px;

			.text {
				display        : flex;
				width          : 49%;
				align-items    : center;
				justify-content: center;
				flex-direction : column;

				.welcome {
					margin-top: -70px;
					border       : 3px solid #5475e5;
					border-radius: 20px;
					width        : 100px;
					text-align   : center;
				}
				.creativity{
					width: 65%;
					margin: 0 auto;
					margin-top: 40px;
					span{
						color: #5475e5;
						text-transform: capitalize;
					}
				}
				h5{
					margin-top: 40px;
					width: 65%;
				}
				.link{
					text-decoration: none;
				}
				button{
					background-color: #f59460;
					border: none;
					border-radius: 2px;
					width: 100px;
					height: 40px;
					color: white;
					justify-content: center;
					cursor: pointer;
					margin-top: 40px;
					display: flex;
					align-items: center;
				}
			}

			.img {
				width : 50%;
				height: 100%;

				img {
					height: 100%;
					width : 100%;
				}
			
			}
		}

		.right-side {
			width: 38%;
			// border       : 3px solid #5475e5;
			img{
				width: 50%;
				margin-left: 160px;
				height: 49.7%;
				border       : 3px solid #5475e5;
				z-index: 2;
			}
				.girl{
					margin-top: 8%;
					width: 18%;
					height: 50%;
					position: absolute;
					margin-left: -7%;
				}
				
				.type{
					font-size: 25px;
					color: #5475e5;
					width: 55%;
				}
		}
	}


	.home-slice {
		display         : flex;
		flex-wrap       : wrap;
		width           : 85%;
		justify-content : space-around;
		margin          : 20px auto;
		height          : 70vh;
		padding-top     : 100px;
		background-color: rgb(247, 243, 250);
		// border-radius   : 10px;

		.flex-5 {
			width           : 24%;
			height          : 50vh;
			background-color: white;
			margin-top      : -20px;
			position        : relative;

			img {
				height: 50vh;
				width : 100%;
			}

			.all {
				position           : absolute;
				top                : 0;
				width              : 100%;
				color              : white;
				display            : none;
				background-color   : rgba(0, 0, 0, 0.247);
				height             : 0;
				animation          : slide-up;
				animation-direction: alternate;
				animation-duration : .3s;
				.nums{
					display: flex;
					justify-content: space-between;
					h4{
						border       : 3px solid #5475e5;
						width: 100px;
						text-align: center;
						margin-top: 10px;
						border-radius: 100px;
						font-size: 15px;
					}
				}
				.others{
					position: absolute;
					top: 40%;
					left: 25%;
				}
				.reactions{
			display: flex;
			margin-top: 85%;
			margin-left: 30%;
			font-size: 30px;
			.like{
				
				display: flex;
				.like-up{
					margin-top: -28%;
					margin-left: -10%;
					font-size: 20px;
				}
			}
			.dislike{
				margin-left: 20%;
				display: flex;
				color: #5475e5;
				.dislike-up{
					margin-top: -28%;
					margin-left: -10%;
					font-size: 20px;
					color: white;
				}
			}
		}
			}

			@keyframes slide-up {

				0% {
					height : 0;
					display: block;
				}

				100% {
					height : 50vh;
					display: block;
				}
			}
		}

		.flex-5:hover {
			.all {
				display: block;
				height : 50vh;
			}
		}

		.flex-5::after {
			.all {
				display: block;
				height : 0;
			}
		}
		
	}
}