.login-form{
	display: flex;
	flex-direction: column;
	width: 20%;
	height: 70vh;
	margin: 100px auto;
	background-color: rgb(255, 255, 255);
	border-radius: 20px;
}


label{
	display: flex;
	width: 90%;
	flex-direction: column;
	margin:10px auto;
}
input{
	height: 50px;
	outline: none;
	border: 3px solid rgb(212, 212, 212);
}
.button{
	width: 50%;
	margin: 30px auto;
	height: 50px;
	background-color: blue;
	color: white;
	outline: none;
	border-radius: 10px;
	font-size: 20px;
}

.login-h2{
	text-align: center;
}
.p-error{
	color: red;
	margin-left: 90px;
	animation-name: fadeout;
	animation-duration: 10s;
	margin: 5px;
	animation-iteration-count: inherit;
}

.ui{
	color: green;
	height: 100px;
	width: 160px;
	background-color: rgb(207, 252, 224);
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 10px;
	margin-top: 100px;
	margin-left: 45%;
}

.counter{
	color: white;
}

.hoc{
	color: white;
}


::-webkit-scrollbar-button {
  height: 12px;
}